


<div class="content h-screen bg-gradient-to-b from-emerald-500 via-emerald-600 to-emerald-900 grid place-items-center" >

  <div id="splash-logo" >
    <svg class="logoGreen" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 20 20" xml:space="preserve">
<g>
	<path style="fill:#80ED99;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27
		c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0
		L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"/>
</g>
</svg>
    <p class="text-8xl logoGreen font-bold stroke-green-950 text-center ">TOBO</p>
    <br/><br/>
    <div class="join ">
      <button class="btn join-item w-full" (click)="openLoginDialog(true)">Log In</button>
      <button class="btn join-item w-full" (click)="openLoginDialog(false)"> Sign Up</button>
    </div>
  </div>
</div>

