
<ul class="menu p-4 w-96 min-h-screen bg-base-200 text-base-content">
  <!-- Sidebar content here, Try to move into another file -->

  <div class="avatar">
    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">

      <div class="relative group">
        <img src="https://www.yoelnozar.com/Yoel.png" class="hover:opacity-0 transition-opacity duration-300 object-cover">
        <div class=" flex justify-center items-center absolute inset-0 opacity-0 hover:opacity-100 transition-opacity duration-300">
          <svg class="w-8 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/></svg>
        <div class="absolute w-full h-full bg-black bg-opacity-35 "></div>
        </div>
      </div>


    </div>
    <p class="text-2xl float-right">&emsp;Work in Progress</p><br/>

  </div>

  <br/>
  <li><a (click)="logout()">Log Out</a></li>
  <li><a>Close Drawer</a></li>
</ul>


